
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin | Dashboard</title>
    <%- include('../layouts/header.ejs') %>
  </head>

<body x-data="{ dark: true }" x-bind:class="dark?'dark':'light'">
    <%- include('../layouts/header_menu.ejs') %>

    <div class="mt-2 h-[1000px]">
      <iframe class="w-full h-full" src="../../profile" frameborder="0"></iframe>
    </div>

</body>
</html>
