<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mike D. Pascal - New Review</title>
    <%- include('../layouts/header.ejs') %>
  </head>

<body>

    <div>
        <div class="bg-gray-600 text-gray-300 sticky top-0 border-b-2 ">
            <nav class="flex items-center justify-center sm:justify-normal container mx-auto">
                <img class="size-8 m-2" src="../../imgs/logo.png" alt="logo">
                <h1 class="text-2xl font-light hidden sm:block">Mike D. Pascal</h1>
            </nav>
        </div>
        <a href="../../profile"><button  class="border-2 py-2 m-4 px-4 rounded-lg text-blue-400 mt-4 border-blue-400 hover:border-blue-500 focus:border-blue-500 hover:text-blue-500 focus:text-blue-500"><< Back</button></a>
        <div class="flex items-center justify-center py-10">
            <form action="../review/new" method="post" enctype="multipart/form-data"  class="bg-gray-700 text-gray-100 p-4 max-w-80 sm:rounded-lg">
                <p class="flex items-center justify-center">
                    <abbr title="Click to select your photo"><label class="flex items-center justify-center" for="photo">
                        <img src="" alt="client_photo" id="client_photo" class="size-28 rounded-full p-1 border-2 border-white m-2">
                        <input class="w-1 h-1 opacity-0" type="file" name="photo" id="photo" required>
                    </label></abbr>
                </p>
                <div class="grid grid-cols-2 gap-4">
                    <p>
                        <input class="bg-transparent w-full px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-2 ring-gray-500 outline-none" type="text" name="name" id="name" placeholder="Your full name" required>
                    </p>
                    <p>
                        <input class="bg-transparent w-full px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-2 ring-gray-500 outline-none" type="email" name="email" id="email" placeholder="Your email" required>
                    </p>
                </div>
                <p>
                    <textarea class="bg-transparent w-full px-2 py-1 text-center ring-1 focus:ring-gray-300 focus:ring-2 rounded-md my-2 ring-gray-500 outline-none" name="content" id="content" rows="10" placeholder="Type your review here..." required></textarea>
                </p>
                <p>
                    <button class="border-2 py-2 w-full my-2 px-4 rounded-lg text-green-300 mt-4 border-green-300 hover:border-green-500 focus:border-green-500 hover:text-green-500 focus:text-green-500">Send</button>
                </p>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('photo').addEventListener('change', (e)=>{
            const files = e.target.files
            if(files.length > 0)
            {
                const reader = new FileReader()

                reader.onloadend = (result)=>{
                    document.getElementById('client_photo').src = result.target.result
                }

                reader.readAsDataURL(files[0])

            }else{
                document.getElementById('client_photo').src = ""
            }
        })
    </script>
</body>
</html>
