<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mike D. Pascal - Contact</title>
    <%- include('../layouts/header.ejs') %>
  </head>

<body>

    <div>
        <div class="bg-gray-600 text-gray-300 sticky top-0 border-b-2 ">
            <nav class="flex items-center justify-center sm:justify-normal container mx-auto">
                <img class="size-8 m-2" src="../../imgs/logo.png" alt="logo">
                <h1 class="text-2xl font-light hidden sm:block">Mike D. Pascal</h1>
            </nav>
        </div>
        <div class="flex items-center justify-center py-10 px-5">
            <p class="p-5 bg-green-200 text-2xl text-green-800 font-light rounded-lg max-w-[40rem]">
                Message sent successfully!
                <span class="block py-4 font-normal">Redirecting in <span id="redirect_timer">7</span></span>
            </p>
        </div>
    </div>
    <script>
        let timer = 7
        setInterval(()=>{
            timer--
            if(timer <= 1){
                window.location.href = '/profile'
                redirect_timer.innerHTML = "..."
            }
            redirect_timer.innerHTML = timer
        }, 1000)
    </script>
</body>
</html>
