<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../imgs/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Review Not Found</title>
</head>
<body>
    <div class="fixed w-full h-full flex items-center justify-center">
        <div class="text-center text-gray-500 text-3xl">
            <p class="font-semibold">404</p>
            <p>Oops! Review not found; it must has been deleted!</p>
        </div>
    </div>
</body>
</html>